Kestra_W3/Size_yellow_taxi_2020_12.yaml
id: kestra_HW1
namespace: zoomcamp
description: |
  The CSV Data used in the course: https://github.com/DataTalksClub/nyc-tlc-data/releases

inputs:
  - id: taxi
    type: SELECT
    displayName: Select taxi type
    values: [yellow, green]
    defaults: green
  - id: year
    type: SELECT
    displayName: Select year
    values: ["2019","2020","2021"]
    defaults: "2021"
    allowCustomValue: true
  - id: month
    type: SELECT
    displayName: Select month
    values: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
    defaults: "01"

variables:
  file: "{{inputs.taxi}}_tripdata_{{inputs.year}}-{{inputs.month}}.csv"
  staging_table: "public.{{inputs.taxi}}_tripdata_staging"
  table: "public.{{inputs.taxi}}_tripdata"
  data: "{{ outputs.extract.outputFiles[vars.file] }}"



tasks:
  - id: set_label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      file: "{{render(vars.file)}}"
      taxi: "{{inputs.taxi}}"

  - id: extract
    type: io.kestra.plugin.scripts.shell.Commands
    outputFiles:
      - "*.csv"
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    commands:
      - wget -qO- https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{{inputs.taxi}}/{{render(vars.file)}}.gz | gunzip > {{render(vars.file)}}


  - id: get_file_size
    type: io.kestra.plugin.core.storage.Size
      # We render the filename first, then use it as a key for outputFiles
    uri: "{{ outputs.extract.outputFiles[render(vars.file)] }}"

  - id: log_file_size
    type: io.kestra.plugin.core.log.Log
    message: |
        File: {{ render(vars.file) }}
        Size: {{ (outputs.get_file_size.size / 1024 / 1024) | numberFormat("0.00") }} MB